body{
    margin: 0px;
    padding: 0px;
}

#widget{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100vw;
    background-color: lightgrey;
}

.widgetItem{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 23%;
    background-color: lightgrey;
    margin: .5% 1.5%;
    cursor: pointer;
}

.branding{
    width: 100%;
    height: 30px;
    background-color: lightgrey;
    color: grey;
    font-weight: 700;
    font-size: 12px;
    font-family: Helvetica;
    padding-top: 1%;
}

.branding:hover{
    font-size: 13px;
}

.thumbnail{
    height: 200px;
    width: 100%;
    /*background-image: url("img/banana.jpeg");*/
    margin-bottom: 5px;
    border-radius: 2px;
}

.thumbnail:hover{
    box-shadow: 3px 3px 5px grey;
}

.itemTitle{
    height: 2%;
    width: 100%;
    background-color: lightgrey;
    font-weight: 700;
    font-family: helvetica;
}

.itemTitle:hover{
    color: red;
}

#header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 8%;
    background-color: lightgrey;
}

#alsoLike{
    font-weight: 700;
    font-family: helvetica;
    text-align: center;
    vertical-align: center;
    width: 200px;
    height: auto;
    background-color: lightgrey;
    margin-top: 1em;
}

#disclosure{
    width: 200px;
    height: auto;
    background-color: lightgrey;
    margin-top: 1.5em;
    font-size: 12px;
}

@media only screen and (max-width: 950px) {
    .thumbnail {
        height: 26vh;
    }
  }

@media only screen and (max-width: 500px) {
    .widgetItem {
      width: 50%;
    }
    .thumbnail{
      height: 100%;
    }
    #disclosure{
        width: 150px;
    }
    
    #header{
        justify-content: center;
        flex-flow: wrap;
        width: 50%;
    }
  }
